<html lang="en"  xmlns:th="http://www.thymeleaf.org">


<div class="banner" th:fragment="rent_banner(motorhomes, locations)">
    <div class="container">
            <div class="row">
                <div class="choose-model" th:insert=" fragments/elements/dropdown.html ::selector(${motorhomes}, 'Choose Model', 'search-form')"></div>
                <!-- replace by :     Motorhome model/brand


            </div>
            <div class="row">
                <div class="choose-model" th:insert=" fragments/elements/selector.html ::selector(${locations}, 'Choose Model', 'search-form')"></div>
                -->

                <!--  replace vy :    PickupLocation
                 <input type="text" name="dep" class="textboxstyle" id="arival" placeholder="To City or airport"
           -->
            </div>
            <div class="row btn">
                <input type="Submit" name="submit" value="search" class="btn btn-info cst-btn" id="srch">
            </div>
    </div>
</div>

<style>
    .banner {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 50px;
        padding: 20px;
        z-index: 999;
    }
    .row {
        width: 19%;
        float: left;
        margin-right: 1%;
        position: relative;
        margin-bottom: 10px;
    }
    .row.btn {
        width: 5%;
        float: left;
        margin-right: 1%;
    }
</style>
</html>
