<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="resUpdateModal(reservation)">

    <p> <!-- todo jut pass reervation object -->
        <a type="button" style="color: dodgerblue;" data-toggle="modal" th:attr="data-target='#update' + ${reservation.reservation_id}" th:href="@{'reservations/update/' + ${reservation.reservation_id}}">Update</a>
    </p>
 <!-- ${reservation.location}, ${reservation.kmFromOffice}, ${reservation.startDate}, ${reservation.endDate}, ${reservation.motorhome_id}, ${reservation.reservation_id} -->

    <div class="modal fade" th:id="update+${reservation.reservation_id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style="color: black" class="modal-title" id="exampleModalLabel">Update Reservation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"> <!-- todo table date instead of this -->
                    <div class="container">

                        <form action="/reservations/update" method="post">
                            <div class="form-group">
                                <input type="text" name="location" class="form-control" th:value="${reservation.location}"
                                       th:placeholder="${reservation.location}" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="kmFromOffice" class="form-control" th:value="${reservation.kmFromOffice}"
                                       th:placeholder="${reservation.kmFromOffice}" required>
                            </div>
                            <div class="form-group">
                                <input type="date" name="startDate" class="form-control" th:value="${reservation.startDate}" th:placeholder="${reservation.startDate}" required>
                            </div>
                            <div class="form-group">
                                <input type="date" name="endDate" class="form-control" th:value="${reservation.endDate}" th:placeholder="${reservation.endDate}" required >
                            </div>

<!--                            <div class="form-group">
                                <input type="text" name="motorhome_id" class="form-control" th:value="${motorhome_id}" th:placeholder="${motorhome_id1}" >
                            </div> TODO ADD MOTORHOME PICKER and accessories
-->                         <p>Choose your desired model</p>
                            <div th:replace="booking/fragments/filterlist"/>

                            <div id="reserve_form">
                                <div id="motos">
                                    <label class="form">Selected Motorhome:</label>
                                    <p  type="text" class="textbox" id="motoSel" name="model"></p>
                                    <input type="hidden" id="motorhome_id" name="motorhome_id" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="hidden" name="motorhome_id" th:value="${reservation.motorhome_id}">
                            </div>

                            <div class="form-group">
                                <input type="hidden" name="contact_id" th:value="${reservation.contact_id}">
                            </div>

                            <div class="form-group">
                                <input type="hidden" name="reservation_id" th:value="${reservation.reservation_id}">
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>