<!-- link to script http://jsfiddle.net/xQqbR/1022/ -->
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form" %>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.springframework.org/tags/form">
<div th:fragment="dropdown(list, name, formName)">
    <select th:name="model" th:id="${name}" th:form="${formName}" class="select-toggle">
        <option class="${name}"
                th:each="type : ${list}"
                th:value="${type.motorhome_id}"
                th:text="${type.model}+'   '+${type.brand}">
        </option>
    </select>
</div>

