<html lang="en"  xmlns:th="http://www.thymeleaf.org"> <!--@LINK:   https://getbootstrap.com/docs/4.5/components/navs/-->

<div th:fragment="dropdown_selector(list, selectable)"> <!-- constructor, use a map of name and item_id-->
    <div class="dropdown">
        <div th:each="entry : ${list}">
            <!--/*@thymesVar id="value" type=""*/-->
            <input type="checkbox" th:id="${entry}" th:value="${entry} " th:name="${entry}" >
            <label class="dropdown-item" th:for="${entry}"  th:text="${entry}" ></label>

            <input type="checkbox" id="${entry.value}" value="${entry.value}" name="${entry.value}" >
            <label class="dropdown-item" for="${entry.value}" >${entry.key}</label>

        </div>
    </div>
</div>