<!-- link to script http://jsfiddle.net/xQqbR/1022/ -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<div th:fragment="selector(list, name, formName)">
    <form:select multiple="true" path="roles" items="${roles}" itemLabel="nombre" itemValue="id" />
        <select th:name="${name}" th:id="${name}" class="select-toggle" multiple="multiple">
            <option class="option"
                    th:each="type : ${list}"
                    th:id="${type}"
                    th:value="${type}"
                    th:text="${'Option ' + type}">wireframe

            </option>
        </select>

<!-------------------------------------SCRIPTS--------------------------------------------->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('option').mousedown(function(e) {
                e.preventDefault();
                var originalScrollTop = $(this).parent().scrollTop();
                console.log(originalScrollTop);
                $(this).prop('selected', $(this).prop('selected') ? false : true);
                var self = this;
                $(this).parent().focus();
                setTimeout(function() {
                    $(self).parent().scrollTop(originalScrollTop);
                }, 0);

                return false;
            });
        });
    </script>


    <!-------------------------------------Style--------------------------------------------->
    <style>
    </style>


</div>

