<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CreateModal">
    Add Motorhome
</button>

<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Motorhome</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">

                    <form action="/motorhomes/create" method="post">

                        <div class="form-group">
                            <input type="text" name="model" maxlength="24" class="form-control" placeholder="Please enter a model" required>
                        </div>

                        <div class="form-group">
                            <input type="text" name="brand" class="form-control" placeholder="Please enter a brand" required>
                        </div>

                        <div class="form-group">
                            <input type="text" name="type" maxlength="16" class="form-control" placeholder="Please enter a type" required>
                        </div>
                        <!--Maxlength doesnt work for numbers in chrome for some reason, but we keep it for other browsers-->
                        <div class="form-group">
                            <input type="number" maxlength="12" min="0" name="price" class="form-control" placeholder="Please enter a price" required>
                        </div>

                        <div class="form-group">
                            <input type="text" name="licensePlate" class="form-control" maxlength="9" placeholder="Please enter a license plate" required>
                        </div>



                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

