<div class="footy">

        <div id="row" class="row">

            <div class="col-sm p-3 mb-2 bg-light text-black">
                <h2>Nordic Motorhome Rental</h2>
                <p style="color: gray">The new nordic company for renting luxury motorhomes!</p>
            </div>

            <div class="col-sm p-3 mb-2 bg-light text-black">
                <h4>Links</h4>
                <ul>
                    <li>- <a href="/home">Home</a></li>

                    <li>- <a href="/motorhomes">Motorhomes</a></li>
                </ul>
            </div>

            <div class="col-sm p-3 mb-2 bg-light text-black">
                <h4>Location</h4>
                <p>Lygten, 34, 2400 København</p>
            </div>

            <div class="col-sm p-3 mb-2 bg-light text-black">
                <h4>Contact</h4>

                <h5>Phone</h5>
                <p>+4512345678</p>

                <h5>Email</h5>
                <ul>
                    <li> <a>mikk990a@stud.kea.dk</a></li>
                    <li> <a>emil4360@stud.kea.dk</a></li>
                    <li> <a>rasm67g4@stud.kea.dk</a></li>
                </ul>
            </div>

        </div>

        <div id="row" class="row mt-5">
            <div class="col copyright">
                <p style="color: gray">© 2019. All Rights Reserved Emil Norsker, Mikkel Axman, Rasmus Wedelheim.</p>
            </div>
        </div>

</div>