<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CreateModal">
        Search
</button>

<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container">

                    <form action="/create" method="post">

                        <div class="row">

                            <div class="col-sm p-3 mb-2 bg-light text-white">
                                <p style="color: black">Model</p>
                                <hr class="my-4"/>
                                <p th:each="motorhome :${motorhomes}">
                                    <span id="row" style="color: black" th:text="${motorhome.model}"/>
                                </p>
                            </div>
                            <div class="col-sm p-3 mb-2 bg-light text-white">
                                <p style="color: black">Price</p>
                                <hr class="my-4"/>
                            <p th:each="motorhome :${motorhomes}">
                                <span id="row" style="color: black" th:text="${motorhome.price}"/>
                            </p>
                            </div>
                        </div>



                        <div class="modal-footer">
                            <a class="btn btn-primary btn-lg" data-dismiss="modal" role="button">Close</a>
                            <a class="btn btn-primary btn-lg" href="/home" role="button">Pick</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

