
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../main.css">


    <script type="text/javascript">
        function GetDays(){
            var dropdt = new Date(document.getElementById("drop_date").value);
            var pickdt = new Date(document.getElementById("pick_date").value);
            return parseInt((dropdt - pickdt) / (24 * 3600 * 1000));
        }

        function cal(){
            if(document.getElementById("drop_date")){
                document.getElementById("numdays2").value=GetDays();
            }
        }
    </script>
    <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("tr[data]");

            rows.forEach(row => {
                row.addEventListener("click", () => {
                    document.getElementById("motoSel").value = row.getAttribute("data");

                    }

                )
            })

            }
        )
    </script>

</head>

<body>

<div class="indexjumbotron">
    <div class="movedown">
        <div class="container">
            <div th:replace="fragments/Menu"/>
            <div class="jumbotron">
                <h3>Booking</h3>
                <hr class="my-4"/>
                <form action="/booking/search/" method="get" id="search-form">
                    <h5>Choose Date and Model</h5>
                <div id="pickup_date"><p>
                        <label class="form">Pickup Date:</label>
                        <input type="date" class="textbox" id="start" name="start"/></p>
                </div>

                <div id="dropoff_date"><p>
                    <label class="form">Dropoff Date:</label>
                    <input type="date" class="textbox" id="end" name="end" /></p>
                </div>

                <p>Choose your desired model</p>
                    <div th:replace="booking/fragments/filterlist"/>
                    <br>
                </form>

                <div id="reserve_form">

                    <div id="motos"><label class="form">Selected Motorhome:</label><input type="text" class="textbox" id="motoSel" name="motos"/></div>
                </div>
                <!-- PERSONAL DETAILS -->

                <hr class="my-4"/>
                <h5>Personal Details</h5>
                <form action="/booking/create" method="post">

                    <div class="form-group">
                        <input type="text" name="firstName" class="form-control" placeholder="Please enter your Firstname">
                    </div>

                    <div class="form-group">
                        <input type="text" name="lastName" class="form-control" placeholder="Please enter your Lastname">
                    </div>

                    <div class="form-group">
                        <input type="text" name="email" class="form-control" placeholder="Please enter your email">
                    </div>

                    <div class="form-group">
                        <input type="text" name="phone" class="form-control" placeholder="Please enter your phone number">
                    </div>

                    <button type="submit" class="btn btn-primary">Add</button>
                    <!-- <input type="submit" form="reserve_form"> </input> -->
                    <!--<div th:replace="fragments/search_modal"/>-->
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>