
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../main.css">


    <script type="text/javascript">
        function GetDays(){
            var dropdt = new Date(document.getElementById("drop_date").value);
            var pickdt = new Date(document.getElementById("pick_date").value);
            return parseInt((dropdt - pickdt) / (24 * 3600 * 1000));
        }

        function cal(){
            if(document.getElementById("drop_date")){
                document.getElementById("numdays2").value=GetDays();
            }
        }
    </script>
</head>

<body>

<div class="indexjumbotron">
    <div class="movedown">
        <div class="container">
            <div th:replace="fragments/Menu"/>
            <div class="jumbotron">
                <h3>Booking</h3>
                <hr class="my-4"/>

                <div th:replace="booking/fragments/multipage_form :: form(step=${step})"></div>
                <!--<form action="/booking/search/" method="get" id="search-form">

                <div id="pickup_date"><p>
                        <label class="form">Pickup Date:</label>
                        <input type="date" class="textbox" id="start" name="start"/></p>
                </div>

                <div id="dropoff_date"><p>
                    <label class="form">Dropoff Date:</label>
                    <input type="date" class="textbox" id="end" name="end" /></p>
                </div>

                <p>Choose your desired model</p>
                    <div th:replace="booking/fragments/dropdown :: dropdown(${motorhomes}, 'name', 'search-form')"></div>
                    <br>

                    <input type="submit" > </input>
                </form> -->

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>