<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../main.css">


    <title>Contact List</title>
</head>
<body>

<div class="indexjumbotron">
    <div class="movedown">
        <div class="container">

            <div th:replace="fragments/Menu"/>

            <div class="jumbotron">

                <h3 >List of Contact</h3>
                <hr class="my-4"/>
                <div class="row">
                    <div class="col-sm p-3 mb-2 bg-light text-black">
                        <h7 id="row">Firstname</h7>
                    </div>

                    <div class="col-sm col-sm p-3 mb-2 bg-light text-black">
                        <h7 id="row">Lastname</h7>
                    </div>

                    <div class="col-sm col-sm p-3 mb-2 bg-light text-black">
                        <h7 id="row">Email</h7>
                    </div>

                    <div class="col-sm col-sm p-3 mb-2 bg-light text-black">
                        <h7 id="row">Phone</h7>
                    </div>

                    <div class="col-sm col-sm p-3 mb-2 bg-light text-black">
                        <h7 id="row">Update</h7>
                    </div>

                    <div class="col-sm col-sm p-3 mb-2 bg-light text-black">
                        <h7 id="row">Delete</h7>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm p-3 mb-2 bg-light text-white">
                        <p th:each="contact :${contacts}">
                            <span id="row" style="color: black" th:text="${contact.firstName}"/>
                        </p>
                    </div>

                    <div class="col-sm col-sm p-3 mb-2 bg-light text-white">
                        <p th:each="contact :${contacts}">
                            <span id="row" style="color: black" th:text="${contact.lastName}"/>
                        </p>
                    </div>

                    <div class="col-sm col-sm p-3 mb-2 bg-light text-white">
                        <p th:each="contact :${contacts}">
                            <span id="row" style="color: black" th:text="${contact.email}"/>
                        </p>
                    </div>

                    <div class="col-sm col-sm p-3 mb-2 bg-light text-white">
                        <p th:each="contact :${contacts}">
                            <span id="row" style="color: black" th:text="${contact.phone}"/>
                        </p>
                    </div>

                    <div class="col-sm col-sm p-3 mb-2 bg-light text-white">
                        <div th:each="contact :${contacts}">
                            <a th:insert="fragments/con_update_modal :: conUpdateModal(${contact.firstName}, ${contact.lastName}, ${contact.email}, ${contact.phone}, ${contact.contact_id})"></a>
                        </div>
                    </div>

                    <div class="col-sm col-sm p-3 mb-2 bg-light text-white">
                        <p th:each="contact :${contacts}">
                            <a style="color: lightcoral;" th:href="@{'/booking/delete/' + ${contact.contact_id}}">Delete</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
<footer>
    <div th:replace="fragments/footer"/>
</footer>
</html>