<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../main.css">

    <title>Home</title>
</head>
<body>

    <div class="indexjumbotron">
        <div class="movedown">
            <div class="container">
        <div th:replace="fragments/Menu"/>
            <div class="jumbotron">
                <h3>Welcome to Nordic Mothorhome Rental</h3>
                <hr class="my-4"/>
                <h5>Here you can rent some of the most luxurious motorhomes! We offer a wide variety of motorhomes so you can find one that suits your needs!
                    We will make sure the motorhome is clean and fully functional when you pick it up. Just pick a motorhome (add extras if you want to), choose your desired dates and
                    if you have trouble reaching our address, pick a pick-up location!
                </h5>

            </div>
        </div>

    </div>
</div>
</body>
<footer>
    <div th:replace="fragments/footer"/>
</footer>
</html>