<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="author" content="Rasmus Wedelheim">
<link rel="stylesheet" href="../filterlist.css">

<!-- Code partly From https://www.w3schools.com/howto/howto_js_filter_lists.asp -->
<button type="button" id="filterlist_btn" class="btn btn-primary" data-toggle="modal" data-target="#CreateModal" disabled>
    Motorhomes
</button>


<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Available Motorhomes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                <input type="text" id="myInput" onkeyup="search()" placeholder="Search for Model..">

                <table id="myTable">
                <tr class="header">
                    <th style="width:10%;">Model</th>
                    <th style="width:10%;">Brand</th>
                    <th style="width:10%;">Price</th>
                    <th style="width:10%;">Type</th>

                </tr>

                    <!-- Here we use thymeleafs each function which loops through every object
                         in this case every motorhome and then create a table again by using thymeleaf
                         to get certain data values from our motorhome object-->
                    <th:block th:each="motorhome : ${motorhomes}">

                        <div type="hidden" th:value="${motorhome.motorhome_id}"></div>

                        <tr th:data="${motorhome.motorhome_id}">

                            <td th:id="${motorhome.model}" class="row_with_model" th:text="${motorhome.model}">Model</td>
                            <td th:text="${motorhome.brand}">Brand</td>
                            <td th:text="${motorhome.price}">Price</td>
                            <td th:text="${motorhome.type}">Type</td>
                    </tr>
                    </th:block>
                </table>



                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


